<footer class="bg-brand-700">
    <div class="container">
        <div class="d-flex justify-content-between flex-column flex-md-row">
            <div class="d-flex flex-column px-6">
                <h2 class="text-white fs-lg-1 mb-9 fw-normal">
                    <img src="../assets/images/logozhen-cheng.svg" alt="logo" class="brand-logo mb-4 d-block mx-auto">
                    溱晟空間設計
                </h2>
                <p class="fs-lg-4 text-white mb-lg-8 mb-6"><i class="ph ph-phone me-4"></i>0961-196-340</p>
                <p class="fs-lg-4 text-white"><i class="ph ph-envelope-simple me-4"></i>zhencheng@gmail.com</p>

                <div class="d-flex mt-lg-auto mt-12 justify-content-between">
                    <img src="/assets/images/icon/facebook.svg" alt="" class="media-icon">
                    <img src="/assets/images/icon/instagram.svg" alt="" class="media-icon">
                    <img src="/assets/images/icon/line.svg" alt="" class="media-icon">
                </div>
            </div>
            <div class="map-block">
                <p class="text-white text-center">
                    <i class="ph-fill ph-map-pin"></i>
                    新北市中和區宜安路173號304室
                </p>
                <img src="/assets/images/地圖.png" alt="" class="map">
            </div>
        </div>
    </div>
</footer>