.client-profile {
    text-align: center;
    font-size: 12px;
    margin-bottom: 8px;
    
    img {
        width: 150px;
        height: 150px;
    }
    
    @include pad {
        font-size: 1rem;
        margin-bottom: 16px;

        img {
            width: 250px;
            height: 250px;
        }
    }
}

.client-badge {
    background-color: $brand-600;
    padding: 0.25rem 1rem;
    font-weight: 300;
    border-radius: 50rem;
    color: white;
    margin: 0 auto 1.5rem;
    width: fit-content;
    font-size: 12px;
    
    @include pad {
        font-size: 1.25rem;
    }
}

.client-comment {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}