.navbar-brand {
  img {
    width: 24px;
    height: 24px;
  }
}

header {
  padding-top: 19px;
  background: linear-gradient(90deg, rgba(215, 216, 214, 0) 0%, rgba(26, 29, 31, 0.35) 50%, rgba(215, 216, 214, 0) 100%);
  background: url("../../assets/images/主視覺\ 01.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  
  @include lg {
    padding-top: calc(86 * (100vh/1080));
  }
}

.writing-vrl {
  writing-mode: vertical-rl;
  letter-spacing: .2em;
}

.introduction {
  font-size: calc(40 * (100vh/1080));
  margin-top: calc(100vh * (172 / 1080));
  margin-bottom: calc(100vh * (128 / 1080));

  .writing-vrl:first-child {
    margin-left: calc(60 * (100vh/1080));
  }
}

.animate-scroll {
  animation-name: scroll;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out ;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}

// about
.about {
  padding: 32px 12px 48px 12px;

  @include pad {
    padding: 160px 0;
  }

  .row {
    margin-bottom: 32px;

    @include lg {
      margin-bottom: 120px;
    }
  }
}

.about-zc {
  padding-bottom: 64px;

  @include pad {
    padding-bottom: 116px;
  }
}

.about-intro {
  @include pad {
    p {
      font-size: 20px;
    }
  }
  
  @include lg {
    max-width: 444px;
  }
}

.about-icon {
  width: 30px;
  height: 30px;

  @include pad {
    width: 48px;
    height: 48px;
  }
}

// portfolio
.portfolio {
  padding-top: 32px;
  padding-bottom: 48px;

  @include pad {
    padding-top: 100px;
    padding-bottom: 80px;
    padding-left: calc(312px - 1920px + 100vw);
  }
}

.project-card {
  background: rgba(242, 243, 244, 0.8);

  @include pad {
    height: 555px;
  }
}

.portfolio-intro {
  position: absolute;
  bottom: 0;
  left: 36px;
  right: 36px;
  background: rgba(242, 243, 244, 1);
  padding: 16px;

  .preview-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 16px;
  }

  @include pad {
    left: 0;
    right: 0;
  }

  @include lg {
    display: none;
  }
}

.portfolio-swiper {
  height: 100%;
  min-height: 607px;


  .swiper-slide {
    padding: 0 36px;
  }

  @include pad {
    .swiper-wrapper {
      padding-left: 80px;
    }

    .swiper-slide {  
      padding: unset;
    }
  }
}

.portfolio-swiper .swiper-slide-next {
  opacity: 0.4;
}

.portfolio-swiper .swiper-button-prev {
  left: 0px;

  @include pad {
    left: 20px;
  }
}

.portfolio-swiper .swiper-button-next {
  right: 0;
  @include pad {
    left: calc(50% + 60px);
  }
}

.portfolio-swiper .swiper-button-prev::after {
  content: '';
  background: url('/assets/images/icon/chevron-compact-left.svg');
  position: absolute;
  background-size: cover;
  width: 48px;
  height: 48px;

  @include pad {
    width: 80px;
    height: 80px;
  }
}

.portfolio-swiper .swiper-button-next::after {
  content: '';
  background: url('/assets/images/icon/chevron-compact-right.svg');
  position: absolute;
  background-size: cover;
  width: 48px;
  height: 48px;

  @include pad {
    width: 80px;
    height: 80px;
  }
}

.portfolio .swiper-slide img {
  height: 100%;
  object-fit: cover;
}

// clients' comments
.clients-comment {
  padding: 32px 0;

  @include pad {
    padding-top: 96px;
    padding-bottom: 112px;
  }
}

.client-card-footer {
  text-align: right;

  button {
    display: block;
    margin: 0 auto;
  }

  @include pad {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    button {
      margin: unset;
    }
  }
}

.client-swiper {
  .swiper-slide {
    padding: 0 56.5px;

    @include pad {
      padding: unset;
    }
  }
}

.client-swiper .swiper-button-prev::after {
  content: '';
  background: url('/assets/images/icon/chevron-compact-left.svg');
  position: absolute;
  width: 48px;
  height: 48px;
  background-size: cover;
}

.client-swiper .swiper-button-next::after {
  content: '';
  background: url('/assets/images/icon/chevron-compact-right.svg');
  position: absolute;
  width: 48px;
  height: 48px;
  background-size: cover;
}

// FAQ
.faq {
  padding: 32px 0;
  background: url('/assets/images/bgc.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  .title {
    font-size: $h4-font-size;
    @include pad {
      font-size: $h1-font-size;
    }
  }

  & {
    @include pad {
      padding: 120px 0;
    }
  }
}

.accordion-button {
  color: $gray-900;
  font-weight: 300;
  font-size: $h6-font-size;
  padding: 20px 32px;

  @include pad {
    font-size: $h3-font-size;
    padding: 48px 40px;
  }
}

.accordion-button:not(.collapsed) {
  padding: 20px 32px 8px 32px;
  @include pad {
    padding: 48px 40px 24px 40px;
  }
}

.accordion-body {
  border-top: 1px solid $brand-200;
  padding: 8px 56px 20px 56px;
  font-weight: 300;
  font-size: $h6-font-size;
  
  @include pad {
    font-size: $h4-font-size;
    padding: 24px 48px 48px 40px;
    margin-left: 1.25em;
  }
}

// reservation
.reservation {
  padding: 48px 0;

  @include pad {
    padding: 120px 0;
  }
}

.sqm, .budget {
  width: 80px;
  margin-right: 8px;
}

.reservation-btn {
  padding: 21.5px 0;
}

.file-swiper {
  max-width: 648px;
}