.navbar-brand {
  img {
    width: 24px;
    height: 24px;
  }
}

header {
  padding-top: 19px;
  background: linear-gradient(90deg, rgba(215, 216, 214, 0) 0%, rgba(26, 29, 31, 0.35) 50%, rgba(215, 216, 214, 0) 100%);
  background: url("../../assets/images/主視覺\ 01.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  
  @include lg {
    padding-top: calc(86 * (100vh/1080));
  }
}

.writing-vrl {
  writing-mode: vertical-rl;
  letter-spacing: .2em;
}

.introduction {
  font-size: calc(40 * (100vh/1080));
  margin-top: calc(100vh * (172 / 1080));
  margin-bottom: calc(100vh * (128 / 1080));

  .writing-vrl:first-child {
    margin-left: calc(60 * (100vh/1080));
  }
}

.animate-scroll {
  animation-name: scroll;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out ;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}

// about
.about {
  @include lg {
    padding: 160px 0;
  }

  .row {
    margin-bottom: 120px;
  }
}

.about-zc {
  padding-bottom: 64px;

  @include lg {
    padding-bottom: 116px;
  }
}

.about-intro {
  max-width: 444px;
}

// FAQ
.faq {
  padding: 32px 0;
  background: url('/assets/images/bgc.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  .title {
    font-size: $h4-font-size;
    @include pad {
      font-size: $h1-font-size;
    }
  }

  & {
    @include pad {
      padding: 120px 0;
    }
  }
}

.accordion-button {
  color: $gray-900;
  font-weight: 300;
  font-size: $h6-font-size;
  padding: 20px 32px;

  @include pad {
    font-size: $h3-font-size;
    padding: 48px 40px;
  }
}

.accordion-button:not(.collapsed) {
  padding: 20px 32px 8px 32px;
  @include pad {
    padding: 48px 40px 24px 40px;
  }
}

.accordion-body {
  border-top: 1px solid $brand-200;
  padding: 8px 56px 20px 56px;
  font-weight: 300;
  font-size: $h6-font-size;
  
  @include pad {
    font-size: $h4-font-size;
    padding: 24px 48px 48px 40px;
    margin-left: 1.25em;
  }
}