<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </head>
  <body>
    <header class="d-flex flex-column">
      <%- include('./layout/header'); -%>
      <div class="d-flex flex-row-reverse text-white lh-base justify-content-center introduction">
        <p class="writing-vrl me-0">以建築之眼</p>
        <p class="writing-vrl mx-0 pt-lg-15 pt-10">繪製生活藍圖</p>
      </div>
      <div class="text-white d-flex flex-column align-items-center animate-scroll">
        <p class="mb-4 fw-light">scroll</p>
        <i class="ph-light ph-mouse-scroll fs-3 text-brand-200"></i>
      </div>
    </header>

    <!-- Modal 按鈕 -->
    <button type="button" class="btn btn-brand" data-bs-toggle="modal" data-bs-target="#exampleModal">
      打開 modal
    </button>
    <!-- Modal 元件 -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal 標題</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">內容</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            <button type="button" class="btn btn-primary">確定</button>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
