<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </head>
  <body>
    <header class="d-flex flex-column">
      <%- include('./layout/header'); -%>
      <div class="d-flex flex-row-reverse text-white lh-base justify-content-center introduction">
        <p class="writing-vrl me-0">以建築之眼</p>
        <p class="writing-vrl mx-0 pt-lg-15 pt-10">繪製生活藍圖</p>
      </div>
      <div class="text-white d-flex flex-column align-items-center animate-scroll">
        <p class="mb-4 fw-light">scroll</p>
        <i class="ph-light ph-mouse-scroll fs-3 text-brand-200"></i>
      </div>
    </header>

    <!-- About -->
     <div class="container about">
      <div class="row">
        <div class="col-lg-6">
          <div class="d-flex flex-column align-items-center h-100">
            <div class="fw-light fs-5 h-100 about-intro">
              <div class="writing-vrl fs-1 text-brand-600 ps-4 border-start border-2 border-brand-300 ms-0 mb-lg-10 mb-4 about-zc">關於溱晟</div>
              <p class="mb-0">彷彿是在裝修自己的房子的細心與堅持，</p>
              <p class="mb-0">盡全力去協助解決問題，</p>
              <p class="mb-0">或許在這個講求經濟和快速的時代顯得有點老派，</p>
              <p class="mb-0">但是我們對施工品質的要求、對事物負責的態度，</p>
              <p class="mb-0">是我們給自己心裡那把無法撼動的尺。</p>
              </div>
          </div>
        </div>
        <div class="col-lg-6">
          <p class="fs-1 text-brand-400 mb-2 fw-light text-end mt-18">Our team member</p>
          <img src="../assets/images/示意圖01.png" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <img src="../assets/images/示意圖02.png" alt="">
        </div>
        <div class="col-lg-6">
          <div class="fw-light fs-5 h-100 d-flex flex-column justify-content-end about-intro mx-auto">
            <p class="mb-0">建築系本科出身的我們，</p>
            <p class="mb-0">在乎人與居住環境的關係，</p>
            <p class="mb-0">設計非常主觀、每人都有不同的喜好和標準，</p>
            <p class="mb-0">比起盲目追求流行的素材，</p>
            <p class="mb-0">我們更注重機能和客戶的喜好。</p>
            <p class="mb-0">在一些固定的客觀條件下，</p>
            <p class="mb-0">我們盡全力去完成客戶的需求，只要客戶喜歡、用起來舒適，就是好設計。</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-7">
          <div class="d-flex flex-column fs-5 fw-light px-12 justify-content-center h-100">
            <p class="mb-0"><span class="fs-3 text-brand-500">真誠，</span>是我們的核心價值和行事準則。</p>
            <p class="mb-0">我們相信，只有以真誠之心對待每一件事、每一個人，</p>
            <p class="mb-0">才能真正理解並實現他們的需求和夢想。</p>
            <p class="mb-0">這份真誠讓我們的設計更加貼近生活、更能打造出溫暖舒適的居住空間。</p>
          </div>
        </div>
        <div class="col-lg-5">
          <img src="../assets/images/示意圖03.png" alt="">
        </div>
      </div>

      <p class="fs-3 text-brand-700 text-center mb-20"><img src="../assets/images/icon/promise.svg" alt="icon" class="me-3">真誠，是我們對自己的承諾，更是我們對客戶的保證。</p>

      <button class="btn btn-brand d-flex align-items-center mx-auto">
        了解我們<i class="fs-5 ph-fill ph-arrow-circle-right ms-3"></i>
      </button>
     </div>
    
    <!-- FAQ -->
    <div class="faq">
      <div class="container px-6">
        <div class="title text-white mb-lg-15 text-center text-lg-start mb-6">常見問題</div>
        <div class="accordion bg-brand-100 px-0 mb-lg-15 mb-4" id="accordionExample">
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Q.  如果我想要預約諮詢，需要提供哪些資訊？
              </button>
            </h3>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                建議先搜尋好喜歡的室內風格方向圖片，並且確定好大概的預算，也可以就一些需求面，例如：是否會需要更動浴室，隔間等做好想像，接著預約諮詢會更有效率。
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Q.  請問從初次接觸到結束工程大概需要多少時間？
              </button>
            </h3>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Q2
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Q.  請問收費標準是如何計算的？
              </button>
            </h3>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Q3
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Q.  請問服務範圍是否包含施工監督呢？
              </button>
            </h3>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Q4
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Q.  如果我對設計方案不滿意，可以要求修改嗎？
              </button>
            </h3>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Q5
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Q.  如果我的預算有限，是不是就沒有辦法委託？
              </button>
            </h3>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Q6
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingSeven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Q.  完工後，如果發現一些小問題，是否有提供售後服務？
              </button>
            </h3>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Q7
              </div>
            </div>
          </div>
        </div>

        <button class="btn btn-link text-white d-block ms-auto" type="button">更多相關問題與服務內容<i class="ph ph-arrow-right ms-4"></i></button>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
